/* Site theme variables */

:root {
    --text-color: #E2FDFF;
    --bg-color: #5465FF;
    --container-bg-color: rgba(0,0,0,.4);
    --container-accent-bg-color: rgba(35,25,40,.4);
}

/* Defaults */

* {
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    
    overflow-x: hidden;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

b {
    font-weight: 800;
}

/* Top section */

.player {
    width: 100vw;
    height: 95vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player > h3 {
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    letter-spacing: 10px;

    text-align: center;

    margin: 20px 0;
    opacity: .5;
}

.player > .vanish {
    animation: disappear 1s forwards;
}

.card {
    width: 210px;
    height: 295px;
    position: relative;
}

.pokesong {
    position: absolute;

    width: 100%;
    height: 100%;

    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);

    backface-visibility: hidden;
    transform: rotateY(180deg);
}

@keyframes disappear {
    0% {
        opacity: 50%;
    }

    100% {
        opacity: 0%;
    }
}

/* Start section */

.sotto {
    margin: 0 30px;
    padding: 10px;

    max-width: 100vw;
    max-height: 4vh;

    margin-bottom: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--container-bg-color);
    border-radius: 10px;
}

.start {
    padding-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Bio section */

.desc > h1 {
    margin: 20px 50px;
    
    letter-spacing: 10px;
    opacity: .5;
}

.desc > p {
    margin: 0 20px;
    padding: 20px;

    background-color: var(--container-accent-bg-color);
    border-radius: 10px;
}

.knowledge > h1 {
    margin: 20px 50px;
    
    letter-spacing: 10px;
    opacity: .5;
}

.knowledge > .icons {
    margin: 0 20px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;

    background-color: var(--container-accent-bg-color);
    border-radius: 10px;
}

.knowledge > .icons > * {
    padding: 10px;

    width: 50px;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    background-color: var(--container-accent-bg-color);
    border-radius: 10px;

    grid-auto-columns: max-content;
}

/* Projects section */

.projects {
    width: 100vw;
    min-height: 95vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.projects > h1 {
    letter-spacing: 10px;

    margin: 20px 50px;
    opacity: .5;
}

.project-list {
    width: 100vw;
    min-height: 80vh;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Project card */

.project > * {
    margin: 20px;
    padding: 20px;

    width: 300px;
}

.project > h3 {
    max-width: fit-content;

    background-color: var(--container-accent-bg-color);
    border-radius: 10px;
}

.project > p {
    background-color: var(--container-accent-bg-color);
    border-radius: 10px;
}

.project > ul {
    list-style-type: none;
}

.project a {
    letter-spacing: 5px;
}

/* Footer */

footer {
    width: 100vw;
    height: 10vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer > * {
    margin: 10px;
    padding: 10px;

    background-color: var(--container-bg-color);
    border-radius: 10px;
}

footer > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer > .links > * {
    margin: 0 10px;
}

/* Special cases */

@media screen and (max-width: 770px) {
    .start, .project-list {
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    footer {
        height: 250px;
        align-items: flex-end;
        justify-content: center;
    }

    .who {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .projects {
        min-height: 20vh;
    }

    .project-list {
        min-height: 20vh;
        height: fit-content;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}